@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CocoBiker';
  src: url('/fonts/CocoBiker_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}